  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3{
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: 20px;
    font-weight: 400;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.navbar img{
    width: 150px;
}
.navbar button{
    border: 1px solid hsl(322, 100%, 66%);
    color: hsl(322, 100%, 66%);
    outline: none;
    background-color: transparent;
    padding: 8px 35px;
    border-radius: 20px;
    cursor: pointer;
}
.community{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.community_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.community_text h1{
    font-size: 46px;
}
.community_text p{
    width: 48%;
    text-align: center;
    padding: 30px;
}
.btn{
    border: none;
    outline: none;
    min-width: 350px;
    min-height: 70px;
    border-radius: 40px;
    color: hsl(207, 100%, 98%);
    background-color: hsl(322, 100%, 66%);
    font-size: 20px;
    cursor: pointer;
}
.community_illustration img{
    height: 600px;
}
.community_stats{
    display: flex;
    gap: 400px;
}
.stat_img{
    height: 25px;
}
.stat_header{
    font-size: 90px;
}
.stat_text{
    color: hsl(192, 100%, 9%);
    text-align: center;
    opacity: 40%;
}
.info-cards{
    margin-top: 120px;
}
.card{
    display: flex;
    align-items: center;
    padding: 30px 100px;
    gap: 200px;
    margin: 300px auto;
    position: relative;
}
.card:nth-child(odd) {
    background-color: hsl(207, 100%, 98%);
  }
.card:nth-child(odd)::before,
.card:nth-child(odd)::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 200px;
    background-size: 125%;
    background-repeat: no-repeat;
    z-index: -1;
} 
.bg-grow::before{
    top: -20vh;
    background-image: url(./images/bg-section-top-desktop-1.svg);
    background-position: top;
}
.bg-grow::after{
    bottom: -20vh;
    background-image: url(./images/bg-section-bottom-desktop-1.svg);
    background-position: bottom;
}
.bg-user::before{
    top: -20vh;
    background-image: url(./images/bg-section-top-desktop-2.svg);
    background-position: top;
}
.bg-user::after{
    bottom: -18vh;
    background-image: url(./images/bg-section-bottom-desktop-2.svg);
    background-position: bottom;
}
.card_text{
    padding: 0px 30px;
}
.card h3{
    font-size: 38px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.card_img img{
    width: 350px;
}
.build{
    text-align: center;
    padding: 200px 0;
}
.build h3{
    font-size: 38px;
    padding-bottom: 40px;
}
.footer-info{
    background-color: hsl(192, 100%, 9%);
    position: relative;
    margin-top: 200px;
    color: hsl(207, 100%, 98%);
    padding: 150px 80px 80px ;
}
.footer-info::before{
    content: '';
    display: block;
    position: absolute;
    background-image: url(./images/bg-footer-top-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    width: 100%;
    left: 0;
    top: -153px;
    height: 156px;
    z-index: 1;
}
.footer_details{
    display: flex;
    gap: 300px;
    align-items: baseline;
}
.contact_info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact_info img{
    width: 200px;
    filter: brightness(0) invert(1);
}
.contact_details{
    display: contents;
}

.subscribe h4{
    font-size: 30px;
    text-transform: uppercase;
}
.subscribe p{
    padding: 20px 0;
}
.subscribe button{
    width: 130px;
    height: 40px;
    margin-left: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: hsl(322, 100%, 66%);
    color: hsl(207, 100%, 98%);
    font-size: 14px;
    cursor: pointer;
}
.field{
    width: 260px;
    height: 40px;
    padding: 0 20px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.fa-brands{
    margin-top: 100px;
    font-size: 30px;
    padding-right: 15px;
    transition: .3s;
    cursor: pointer;
}
.fa-brands:hover{
    color: hsl(210, 62%, 43%);
}
@media screen and (max-width: 1325px){
    .bg-grow::before{
        top: -18vh;
    }
    .bg-grow::after{
        bottom: -12vh;
    }
    .bg-user::before{
        top: -16vh;
    }
    .bg-user::after{
        bottom: -15vh;
    }
    .footer_details{
        gap: 200px;
    }
    .field{
        width: 220px;
    }
    .subscribe button{
        width: 100px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 1135px){
    .card{
        padding: 30px 70px;
        gap: 150px;
    }
    .card_text{
        padding: 0;
    }
    .bg-grow::before{
        top: -15vh;
    }
    .bg-user::after{
        bottom: -14vh;
    }
}
@media screen and (max-width: 1080px){
    p{
        font-size: 18px;
    }
    .community_text h1{
        font-size: 36px;
    }
    .community_text p{
        width: 70%;
    }
    .community_illustration img{
        height: 500px;
    }
    .community_stats{
        gap: 250px;
    }
    .stat_header{
        font-size: 70px;
    }
    .card{
        padding: 80px 30px;
        gap: 100px;
    }
    .card:nth-child(odd)::before,
    .card:nth-child(odd)::after {
    height: 300px;
    background-size: 100%;

} 
    .bg-grow::before{
        top: -30vh;
        background-image: url(./images/bg-section-top-mobile-1.svg);
        background-position: top;
    }
    .bg-grow::after{
        bottom: -15vh;
        background-image: url(./images/bg-section-bottom-mobile-1.svg);
        background-position: bottom;
    }
    .bg-user::before{
        top: -30vh;
        background-image: url(./images/bg-section-top-mobile-2.svg);
        background-position: top;
    }
    .bg-user::after{
        bottom: -30vh;
        background-image: url(./images/bg-section-bottom-mobile-2.svg);
        background-position: bottom;
    }
    .footer_details{
        gap: 100px;
    }
    .field{
        width: 200px;
    }
    .subscribe button{
        width: 80px;
    }
}
@media screen and (max-width: 994px){
    .community_stats{
        flex-direction: column;
        gap: 100px;
    }
    .community_text h1{
        font-size: 28px;
    }
    .community_illustration img{
        height: 400px;
    }
    .btn{
        min-width: 250px;
    }
    .card{
        flex-direction: column;
        text-align: center;
    }
    .card_text{
        order: 1;
    }
    .footer-info::before{
        background-image: url(./images/bg-footer-top-mobile.svg);
    }
    .footer_details{
        flex-direction: column-reverse;
        gap: 120px;
    }
    .submit{
        display: flex;
        flex-direction: column;
    }
    .subscribe button{
        width: 130px;
        margin-top: 20px;
        margin-left: 170px;
    }
    .field{
        width: 260px;
    }
}
@media screen and (max-width: 876px){
    .bg-grow::before{
        top: -28vh;
    }
    .bg-grow::after{
        bottom: -11vh;
    }
    .bg-user::before{
        top: -25vh;
    }
    .bg-user::after{
        bottom: -25vh;
    }
}
@media screen and (max-width: 742px){
    .bg-grow::before{
        top: -24vh;
    }
    .bg-user::before{
        top: -22vh;
    }
    .bg-user::after{
        bottom: -22vh;
    }
}
@media screen and (max-width: 642px){
    .bg-grow::before{
        top: -21vh;
    }
    .bg-grow::after{
        bottom: -9vh;
    }
    .bg-user::before{
        top: -18vh;
    }
    .bg-user::after{
        bottom: -18vh;
    }
}
@media screen and (max-width: 600px){
    .navbar{
        padding: 20px;
    }
    .navbar img{
        width: 120px;
    }
    .navbar button{
        padding: 5px 20px;
    }
    .community_text h1{
        font-size: 22px;
        text-align: center;
        padding: 0 20px;
    }
    .community_text p{
        width: 80%;
        padding: 20px;
    }
    .btn{
        min-height: 50px;
    }
    .community_illustration img{
        height: 250px;
    }
    .card h3{
        font-size: 26px;
    }
    .card_img img{
        width: 250px;
    }
    .build h3{
        font-size: 28px;
    }
    .footer-info{
        padding: 100px 20px 60px ;
    }
}
@media screen and (max-width: 540px){
    .bg-grow::before{
        top: -16vh;
    }
    .bg-grow::after{
        bottom: -7vh;
    }
    .bg-user::before{
        top: -14vh;
    }
    .bg-user::after{
        bottom: -14vh;
    }
}
@media screen and (max-width: 431px){
    .bg-grow::before{
        top: -14vh;
    }
    .bg-grow::after{
        bottom: -6vh;
    }
    .bg-user::before{
        top: -12vh;
    }
    .bg-user::after{
        bottom: -12vh;
    }
}